@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<div class="modal-backdrop fade" id="backdrop"></div>

<!-- Sidebar -->
<div id="sidebar" class="@((ViewBag.LoginView == true) ? "hide-navbar" : "sidebar")">
    <div id="toggleSidebar" class="logo">
        <img src="~/img/icon-white.png" alt="Logo">
        <label>Resolve.it</label>
    </div>
    <ul>
        @* <li class="@(IsActive("Profile", null) ? "active" : "")">
            <a asp-action="Profile" asp-controller="Account"><i class="fas fa-user"></i> <span>Profile</span></a>
        </li> *@
        <li class="@(IsActive("Index", "Ticket") ? "active" : "")">
            <a asp-action="Index" asp-controller="Ticket"><i class="fas fa-ticket-alt"></i> <span>Tickets</span></a>
        </li>
        <li class="@(IsActive("Index", "User") ? "active" : "")">
            <a asp-action="Index" asp-controller="User"><i class="fas fa-users"></i> <span>Users</span></a>
        </li>
        <li class="@(IsActive("Index", "Team") ? "active" : "")">
            <a asp-action="Index" asp-controller="Team"><i class="fas fa-users-cog"></i> <span>Teams</span></a>
        </li>
        <li class="@(IsActive("Index", "Announcement") ? "active" : "")">
            <a asp-action="Index" asp-controller="Announcement"><i class="fas fa-bell"></i><span>Announcements</span></a>
        </li>
        <li class="@(IsActive("Index", "Feedback") ? "active" : "")">
            <a asp-action="Index" asp-controller="Feedback"><i class="fas fa-sliders-h"></i> <span>Feedbacks</span></a>
        </li>
        @* <li>
            <a asp-action="Logout" asp-controller="Account"><i class="fas fa-sign-out-alt"></i> <span>Logout</span></a>
        </li> *@
    </ul>
</div>

<!-- Topbar for Mobile -->
    <div id="topbar" class="topbar">
        <div class="logo">
            <img src="~/img/icon-white.png" alt="Logo">
        </div>
        <button id="toggleDropdown" class="toggle-button"><i class="fas fa-bars"></i></button>
        <div class="dropdown-menu">
            <a asp-action="Profile" asp-controller="Account"><i class="fas fa-ticket-alt"></i> Profile</a>
            <a asp-action="Index" asp-controller="Ticket"><i class="fas fa-ticket-alt"></i> Tickets</a>
            <a asp-action="Index" asp-controller="User"><i class="fas fa-users"></i> Users</a>
            <a asp-action="Index" asp-controller="Notification"><i class="fas fa-bell"></i><span>Notifications</span></a>
            <a asp-action="Settings" asp-controller="Account"><i class="fas fa-cog"></i> Settings</a>
            <a asp-action="Logout" asp-controller="Account"><i class="fas fa-sign-out-alt"></i> <span>Logout</span></a>
        </div>
    </div>

@functions {
    public bool IsActive(string action, string controller)
    {
        var currentAction = HttpContextAccessor.HttpContext?.Request.RouteValues["action"]?.ToString();
        var currentController = HttpContextAccessor.HttpContext?.Request.RouteValues["controller"]?.ToString();

        return string.Equals(currentAction, action, StringComparison.OrdinalIgnoreCase) &&
               string.Equals(currentController, controller, StringComparison.OrdinalIgnoreCase);
    }
}
