@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!-- Sidebar -->
<nav class="@((ViewBag.LoginView == true) ? "d-hidden" : "navbar navbar-expand-lg bg-danger")">
    <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="~/img/icon-white.png" alt="Logo">
        <strong class="text-white">Resolve.it</strong>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto my-2"> 
            <li class="nav-item">
                <a asp-action="Create" asp-controller="UserTicket" class="@(IsActive("Create", "UserTicket") ? "nav-link active text-white" : "nav-link")">
                    Create
                </a>
            </li>
            <li class="nav-item">
                <a asp-action="Index" asp-controller="UserTicket" class="@(IsActive("Index", "UserTicket") ? "nav-link active text-white" : "nav-link")">
                    My Tickets
                </a>
            </li>
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Notification" class="@(IsActive("Index", "UserNotification") ? "nav-link active text-white" : "nav-link")">
                    Notifications
                </a>
            </li>
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Feedback" class="@(IsActive("Index", "Feedback") ? "nav-link active text-white" : "nav-link")">
                    Feedback
                </a>
            </li>
            <li class="nav-item">
                <a asp-action="UpdateProfile" asp-controller="User" class="@(IsActive("UpdateProfile", "User") ? "nav-link active text-white" : "nav-link")">
                    Update Profile
                </a>
            </li>
        </ul>
    </div>
    <div class="d-flex">
        <a asp-action="SignOutUser" asp-controller="Account" class="text-white text-decoration-none"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a>
    </div>
</nav>

@functions {
    public bool IsActive(string action, string controller)
    {
        var currentAction = HttpContextAccessor.HttpContext?.Request.RouteValues["action"]?.ToString();
        var currentController = HttpContextAccessor.HttpContext?.Request.RouteValues["controller"]?.ToString();

        return string.Equals(currentAction, action, StringComparison.OrdinalIgnoreCase) &&
               string.Equals(currentController, controller, StringComparison.OrdinalIgnoreCase);
    }
}
