@{
    ViewData["Title"] = "Notitications Page";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@model IEnumerable<ASI.Basecode.Data.Models.Notification>

<div class="container content">
    <div class="row">

        <h2 class="mb-4">Notifications</h2>

        <!-- Ticket Notifications Section -->
        @foreach (var notif in Model)
        {
            <div id="ticketNotifications" class="notification-section mb-5">
                <div class="card notification-card mb-3 position-relative">
                    <div class="card-body">
                        <h5 class="card-title">@notif.Title</h5>
                        <p class="card-text">@notif.Description</p>
                        <p class="notification-time">@notif.DateCreated</p>
                        <form asp-action="Delete" method="post">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="NotificationId" value="@notif.Id" />
                            <button type="submit" class="btn-close position-absolute top-0 end-0 m-3" aria-label="Close"></button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>