@model ASI.Basecode.Data.Models.User


<div class="content p-4" style="margin-left: 200px;">

    <h3 class="mb-4"><strong>Edit User </strong></h3>

    <form method="post" asp-action="Edit">
        <input hidden asp-for="@Model.UserId"/>
        <div class="mb-3">
            <label for="addUserRole" class="form-label">Role</label>
            <select class="form-select" asp-for="@Model.RoleId" asp-items="ViewBag.Roles">
                <option disabled>Select role</option>
            </select>
            <span asp-validation-for="@Model.RoleId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="changeTeam" class="form-label">Team</label>
            <select class="form-select" asp-for="@Model.TeamId" asp-items="ViewBag.Teams">
                <option disabled>Select team</option>
                <option value="@null">No Team</option>
            </select>
        </div>
        <div class="d-flex justify-content-end gap-2">
            <button type="submit" class="btn d-block btn-dark">Update User</button>
            <a asp-action="Index" class="btn btn-outline-danger">Cancel</a>
        </div>
    </form>
</div>
@section scripts {
    <script>
        // Check for error message and display Toastr notification
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage) {
            toastr.error(errorMessage);
        }
    </script>
}
