@model IEnumerable<ASI.Basecode.Data.Models.User>
@using Microsoft.AspNetCore.Mvc.ModelBinding

@{
    ViewData["Title"] = "User Management";
    var searchQuery = Context.Request.Query["search"];
}

<br />
<div class="content p-4" style="margin-left: 200px;">
    <h3 class="mb-4"><strong>User Management</strong></h3>

    <div class="d-flex justify-content-between align-items-center mb-3">
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createUserModal">Add New User</button>

        <form method="get" asp-action="Index" class="form-inline">
            <div class="row">
                <div class="col">
                    <input type="text" name="searchName" class="form-control mb-2" placeholder="Search by Name" />
                </div>
                <div class="col">
                    <input type="text" name="searchEmail" class="form-control mb-2" placeholder="Search by Email" />
                </div>
                <div class="col">
                    <select name="searchRoleId" class="form-select mb-2">
                        <option value="">Select Role</option>
                        @foreach (var role in ViewBag.Roles)
                        {
                            <option value="@role.Value">@role.Text</option>
                        }
                        }
                    </select>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary btn-sm mb-2">Search</button>
                </div>
            </div>
        </form>
    </div>

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@error.ErrorMessage</li>
                }
            </ul>
        </div>
    }

    <div class="table-responsive">
        <table class="table table-striped mt-3 align-middle">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Created Time</th>
                    <th class="action-column">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.UserId</td>
                        <td>@user.Name</td>
                        <td>@user.Email</td>
                        <td>
                            @if (user.RoleId == 1)
                            {
                                <span>Super Admin</span>
                            }
                            else if (user.RoleId == 2)
                            {
                                <span>Admin</span>
                            }
                            else if (user.RoleId == 3)
                            {
                                <span>Agents</span>
                            }
                            else if (user.RoleId == 4)
                            {
                                <span>User</span>
                            }
                            else
                            {
                                <span>Unknown</span>
                            }
                        </td>
                        <td>@user.CreatedTime</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#editUserModal-@user.UserId">
                                Edit
                            </button>
                            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteUserModal-@user.UserId">
                                Delete
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Create User Modal -->
    <div class="modal fade" id="createUserModal" tabindex="-1" aria-labelledby="createUserModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createUserModalLabel">Add New User</h5>
                    <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
                </div>
                <div class="modal-body">
                    <form asp-action="Create" method="post">
                        @Html.AntiForgeryToken()

                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-danger">
                                <ul>
                                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                                    {
                                        <li>@error.ErrorMessage</li>
                                    }
                                </ul>
                            </div>
                        }

                        <div class="mb-3">
                            <label for="EmailCreate" class="form-label">Email</label>
                            <input type="email" class="form-control" id="Email" name="Email" required>
                        </div>

                        <div class="mb-3">
                            <label for="NameCreate" class="form-label">Name</label>
                            <input type="text" class="form-control" id="Name" name="Name" required>
                        </div>

                        <div class="mb-3">
                            <label for="PasswordCreate" class="form-label">Password</label>
                            <input type="password" class="form-control" id="Password" name="Password" required>
                        </div>
                        <div class="mb-3">
                            <label for="RoleIdCreate" class="form-label">Role</label>
                            <select class="form-select" id="RoleIdCreate" name="RoleId" required>
                                <option value="">Select a Role</option>
                                <option value="1">Super Admin</option>
                                <option value="2">Admin</option>
                                <option value="3">Agents</option>
                                <option value="4">User</option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-success">Create User</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit User Modal -->
    @foreach (var user in Model)
    {
        <div class="modal fade" id="editUserModal-@user.UserId" tabindex="-1" aria-labelledby="editUserModalLabel-@user.UserId" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editUserModalLabel-@user.UserId">Edit User @user.Name</h5>
                        <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
                    </div>
                    <div class="modal-body">
                        <form asp-action="Edit" method="post">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="UserId" value="@user.UserId" />
                            <div class="mb-3">
                                <label for="EmailEdit-@user.UserId" class="form-label">Email</label>
                                <input type="email" class="form-control" id="EmailEdit-@user.UserId" name="Email" value="@user.Email" required>
                            </div>
                            <div class="mb-3">
                                <label for="NameEdit-@user.UserId" class="form-label">Name</label>
                                <input type="text" class="form-control" id="NameEdit-@user.UserId" name="Name" value="@user.Name" required>
                            </div>
                            <div class="mb-3">
                                <label for="PasswordEdit-@user.UserId" class="form-label">Password</label>
                                <input type="password" class="form-control" id="PasswordEdit-@user.UserId" name="Password" placeholder="Leave blank to keep existing password">
                            </div>
                            <div class="mb-3">
                                <label for="RoleIdEdit" class="form-label">Role</label>
                                <select class="form-select" id="RoleIdEdit" name="RoleId" required>
                                    <option value="" disabled selected>Select a Role</option>
                                    <option value="1" >Super Admin</option>
                                    <option value="2" >Admin</option>
                                    <option value="3" >Agents</option>
                                    <option value="4" >User</option>
                                </select>
                            </div>



                            <button type="submit" class="btn btn-success">Update User</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }

    <!-- Delete User Modal -->
    @foreach (var user in Model)
    {
        <div class="modal fade" id="deleteUserModal-@user.UserId" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel-@user.UserId" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteUserModalLabel-@user.UserId">Delete User @user.Name</h5>
                        <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
                    </div>
                    <div class="modal-body">
                        <form asp-action="Delete" method="post">
                            <input type="hidden" name="UserId" value="@user.UserId" />
                            <p>Are you sure you want to delete user @user.Name?</p>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
